<nav class="navbar">
  <div class="navbar-brand">LinkedIn</div>
  <div class="navbar-items">
   
    <div class="navbar-notification">
      <i class="fa fa-user" aria-hidden="true"></i>{{ username }}
  </div>
      <div class="navbar-notification"  routerLink="/home">
          <i class="fa fa-bell" aria-hidden="true"></i>Home
      </div>
      <div class="navbar-logout">
          <button (click)="logout()">Logout</button>
      </div>
  </div>
</nav>
<div class="notification-container">
  
  <h2>Notifications</h2>
  <div class="notification-list">
    <div class="notification-item">
      <span class="notification-text">You have a new message from John Doe</span>
      <span class="notification-time">2 hours ago</span>
    </div>
    <div class="notification-item">
      <span class="notification-text">Your post has received 10 likes</span>
      <span class="notification-time">3 hours ago</span>
    </div>
  </div>
</div>
