<nav class="navbar">
  <div class="navbar-brand">LinkedIn</div>
  <div class="navbar-items">
   
    <div class="navbar-notification" >
      <i class="fa fa-user" aria-hidden="true"></i>{{ username }}
  </div>
      <div class="navbar-notification"  routerLink="/home">
          Home
      </div>
      <div class="navbar-logout">
          <button (click)="logout()">Logout</button>
      </div>
  </div>
</nav>
<div class="notification-container">
  
  <h2>Notifications</h2>
  <div class="notification-list">   
    <ng-container *ngFor="let notification of notificationList.slice().reverse()">
      <div class="notification-item" 
      (click)="fetchPost(notification._id)" 
      *ngIf="notification.senderUserId !== userId"
      [ngClass]="{ 'bold-text': !notification.seen }">
        <span class="notification-text">{{notification.message}}    </span>
        <span class="notification-time">{{notification.time | date: 'medium'}}</span>
      </div>
    </ng-container>
    
  </div>
</div>
